{
    "token": "x",
    "intervalMS": 90000,
    "embeds": [{
            "channelID": "x",
            "messageID": "x"
        },
        {
            "channelID": "x",
            "messageID": "x"
        }
    ]
}